version: '2'
services:
  app:
    build: .
    ports:
      - "8082:8082"
    links:
      - "redis:redis"
  redis:
    image: redis
    hostname: redis
    ports:
      - "6379:6379"
  postman:
    image: postman_docker_image
    ports:
    - "8081:8081"
